<h4 class="text-center">Login</h4>

<!-- passando as informacoes dos inputs para o servico de autenticacao -->
<!-- ngSubmit: evento do formulario do Angular que nesse caso vai chamar o metodo login() -->
<form class="form mt-4" (ngSubmit)="login()" #loginForm="ngForm">
    <div class="form-group">
        <input class="form-control" placeholder="Nome do usuário"
        [(ngModel)]="usuario" name="usuario" #campoUsuario="ngModel" required
        />
        <app-mensagem *ngIf="campoUsuario.invalid && campoUsuario.touched" mensagem="Usuário obrigatório"></app-mensagem>
        <!-- ngModel vai mapear essa input para um atributo usuario -->
    </div>

    <div class="form-group mt-2">
        <input type="password" class="form-control" placeholder="Senha"
        [(ngModel)]="senha" name="senha" #campoSenha="ngModel" required
        />
        <app-mensagem *ngIf="campoSenha.invalid && campoSenha.touched" mensagem="Senha obrigatória"></app-mensagem>
    </div>

    <button type="submit" class="btn btn-primary btn-block mt-2" [disabled]="loginForm.invalid">Login</button>
</form>

<p>Não é um usuário? <a [routerLink]="['novousuario']">Se cadastre!</a> </p>